In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
products=pd.read_csv('olist_products_dataset.csv')
product_cat_name_trans=pd.read_csv('product_category_name_translation.csv')

In [4]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [5]:
products=pd.merge(products,product_cat_name_trans,how='left',on='product_category_name')
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares

In [6]:
products=products.drop('product_category_name',axis=1)

In [7]:
products.product_category_name_english.isnull().sum()

623

In [8]:
products['product_category_name_english'].unique()

array(['perfumery', 'art', 'sports_leisure', 'baby', 'housewares',
       'musical_instruments', 'cool_stuff', 'furniture_decor',
       'home_appliances', 'toys', 'bed_bath_table',
       'construction_tools_safety', 'computers_accessories',
       'health_beauty', 'luggage_accessories', 'garden_tools',
       'office_furniture', 'auto', 'electronics', 'fashion_shoes',
       'telephony', 'stationery', 'fashion_bags_accessories', 'computers',
       'home_construction', 'watches_gifts',
       'construction_tools_construction', 'pet_shop', 'small_appliances',
       'agro_industry_and_commerce', nan, 'furniture_living_room',
       'signaling_and_security', 'air_conditioning', 'consoles_games',
       'books_general_interest', 'costruction_tools_tools',
       'fashion_underwear_beach', 'fashion_male_clothing',
       'kitchen_dining_laundry_garden_furniture',
       'industry_commerce_and_business', 'fixed_telephony',
       'construction_tools_lights', 'books_technical',
       'home_appliances_2', 'party_supplies', 'drinks', 'market_place',
       'la_cuisine', 'costruction_tools_garden', 'fashio_female_clothing',
       'home_confort', 'audio', 'food_drink', 'music', 'food',
       'tablets_printing_image', 'books_imported',
       'small_appliances_home_oven_and_coffee', 'fashion_sport',
       'christmas_supplies', 'fashion_childrens_clothes', 'dvds_blu_ray',
       'arts_and_craftmanship', 'furniture_bedroom', 'cine_photo',
       'diapers_and_hygiene', 'flowers', 'home_comfort_2',
       'security_and_services', 'furniture_mattress_and_upholstery',
       'cds_dvds_musicals'], dtype=object)

In [9]:
products['product_category_name_english'].value_counts()

bed_bath_table                           3029
sports_leisure                           2867
furniture_decor                          2657
health_beauty                            2444
housewares                               2335
auto                                     1900
computers_accessories                    1639
toys                                     1411
watches_gifts                            1329
telephony                                1134
baby                                      919
perfumery                                 868
stationery                                849
fashion_bags_accessories                  849
cool_stuff                                789
garden_tools                              753
pet_shop                                  719
electronics                               517
construction_tools_construction           400
home_appliances                           370
luggage_accessories                       349
consoles_games                            317
office_furniture                          309
musical_instruments                       289
small_appliances                          231
home_construction                         225
books_general_interest                    216
fashion_shoes                             173
furniture_living_room                     156
air_conditioning                          124
                                         ...
food                                       82
drinks                                     81
construction_tools_lights                  78
agro_industry_and_commerce                 74
industry_commerce_and_business             68
christmas_supplies                         65
audio                                      58
art                                        55
fashion_underwear_beach                    53
dvds_blu_ray                               48
furniture_bedroom                          45
costruction_tools_tools                    39
small_appliances_home_oven_and_coffee      31
books_imported                             31
computers                                  30
cine_photo                                 28
music                                      27
fashio_female_clothing                     27
party_supplies                             26
fashion_sport                              19
arts_and_craftmanship                      19
flowers                                    14
diapers_and_hygiene                        12
la_cuisine                                 10
furniture_mattress_and_upholstery          10
tablets_printing_image                      9
fashion_childrens_clothes                   5
home_comfort_2                              5
security_and_services                       2
cds_dvds_musicals                           1
Name: product_category_name_english, Length: 71, dtype: int64

In [10]:
products['products_category']=np.where((products['product_category_name_english'].str.contains('perfume|beauty|fashion')==True),'Fashion',\
                                       np.where((products['product_category_name_english'].str.contains('music|dvd|blu')==True),'audio_video',\
                              np.where((products['product_category_name_english'].str.contains('computer|electronics|appliances|console|air_conditionaing')==True),'electronics and accessories',\
                              np.where((products['product_category_name_english'].str.contains('furniture|home|house|bed|construction|industry')==True),'home,office,furniture', \
                              np.where((products['product_category_name_english'].str.contains('books|image|stationery|gift')==True),'books',\
                              np.where((products['product_category_name_english'].str.contains('pet|security')==True),'pets and security',\
                              np.where((products['product_category_name_english'].str.contains('telephone')==True),'telephone',\
                              np.where((products['product_category_name_english'].str.contains('baby|toy|diaper')==True),'Children',\
                              np.where((products['product_category_name_english'].str.contains('garden|agro|luggage')==True),'Garden and luggage',\
                              np.where((products['product_category_name_english'].str.contains('drinks|market|cuisine|food|supplies|party')==True),'groceries and supplies',\
                              np.where((products['product_category_name_english'].str.contains('sport')==True),'sports','others')))))))))))

In [11]:
products.head()

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,products_category
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery,Fashion
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art,others
2,96bd76ec8810374ed1b65e291975717f,46.0,250.0,1.0,154.0,18.0,9.0,15.0,sports_leisure,sports
3,cef67bcfe19066a932b7673e239eb23d,27.0,261.0,1.0,371.0,26.0,4.0,26.0,baby,Children
4,9dc1a7de274444849c219cff195d0b71,37.0,402.0,4.0,625.0,20.0,17.0,13.0,housewares,"home,office,furniture"

In [12]:
products=products.drop('product_category_name_english',axis=1)

In [13]:
products['product_name_length']=products['product_name_lenght']

In [14]:
products['product_description_length']=products['product_description_lenght']

In [15]:
products=products[['product_id','products_category','product_name_length','product_description_length','product_photos_qty','product_weight_g','product_length_cm','product_height_cm','product_width_cm']]

In [16]:
products.head()

,product_id,products_category,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,Fashion,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,others,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,Children,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,"home,office,furniture",37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [17]:
products.groupby('products_category').describe()['product_name_length']

,count,mean,std,min,25%,50%,75%,max
products_category,,,,,,,,
Children,2342.0,45.489325,11.305762,7.0,38.0,47.0,55.00,64.0
Fashion,4506.0,46.314470,10.567739,9.0,39.0,48.0,55.00,76.0
Garden and luggage,1190.0,48.049580,9.797361,13.0,41.0,50.0,56.75,67.0
audio_video,365.0,49.635616,9.346877,14.0,43.0,51.0,57.00,64.0
books,2557.0,48.572937,9.653619,10.0,42.0,51.0,56.00,64.0
electronics and accessories,3225.0,48.403721,9.977430,12.0,42.0,51.0,57.00,64.0
groceries and supplies,472.0,44.963983,12.288498,13.0,36.0,47.0,56.00,64.0
"home,office,furniture",9687.0,49.940436,9.793736,5.0,45.0,53.0,57.00,72.0
others,4316.0,50.477757,9.502562,11.0,46.0,54.0,58.00,64.0
pets and security,814.0,48.480344,10.399592,12.0,42.0,51.0,56.00,64.0
sports,2867.0,46.963376,10.510374,9.0,40.0,49.0,56.00,64.0

In [18]:
products['product_name_length'].isnull().sum()

610

In [19]:
products.groupby('products_category')['product_name_length'].median()

products_category
Children                       47.0
Fashion                        48.0
Garden and luggage             50.0
audio_video                    51.0
books                          51.0
electronics and accessories    51.0
groceries and supplies         47.0
home,office,furniture          53.0
others                         54.0
pets and security              51.0
sports                         49.0
Name: product_name_length, dtype: float64

In [20]:
rno=products[products['product_name_length'].isnull()].index
rno

Int64Index([  105,   128,   145,   154,   197,   244,   294,   299,   347,
              428,
            ...
            32446, 32458, 32460, 32476, 32487, 32515, 32589, 32616, 32772,
            32852],
           dtype='int64', length=610)

In [21]:
for i in rno:
    products.loc[i,'product_name_length']=50

In [22]:
products.groupby('products_category')['product_description_length'].median()

products_category
Children                       640.0
Fashion                        670.0
Garden and luggage             580.0
audio_video                    705.0
books                          526.0
electronics and accessories    546.0
groceries and supplies         643.0
home,office,furniture          507.0
others                         676.0
pets and security              714.5
sports                         733.0
Name: product_description_length, dtype: float64

In [23]:
rno=products[products['product_description_length'].isnull()].index
rno

Int64Index([  105,   128,   145,   154,   197,   244,   294,   299,   347,
              428,
            ...
            32446, 32458, 32460, 32476, 32487, 32515, 32589, 32616, 32772,
            32852],
           dtype='int64', length=610)

In [24]:
for i in rno:
    products.loc[i,'product_description_length']=550

In [25]:
products.groupby('products_category')['product_photos_qty'].median()

products_category
Children                       2.0
Fashion                        1.0
Garden and luggage             2.0
audio_video                    2.0
books                          2.0
electronics and accessories    1.0
groceries and supplies         1.0
home,office,furniture          1.0
others                         2.0
pets and security              2.0
sports                         1.0
Name: product_photos_qty, dtype: float64

In [26]:
rno=products[products['product_photos_qty'].isnull()].index
rno

Int64Index([  105,   128,   145,   154,   197,   244,   294,   299,   347,
              428,
            ...
            32446, 32458, 32460, 32476, 32487, 32515, 32589, 32616, 32772,
            32852],
           dtype='int64', length=610)

In [27]:
for i in rno:
    products.loc[i,'product_photos_qty']=1

In [28]:
products.groupby('products_category')['product_weight_g'].median()

products_category
Children                        750.0
Fashion                         400.0
Garden and luggage             1050.0
audio_video                     750.0
books                           444.0
electronics and accessories     400.0
groceries and supplies          662.5
home,office,furniture          1300.0
others                          500.0
pets and security               800.0
sports                          750.0
Name: product_weight_g, dtype: float64

In [29]:
rno=products[products['product_weight_g'].isnull()].index
rno

Int64Index([8578, 18851], dtype='int64')

In [30]:
for i in rno:
    products.loc[i,'product_weight_g']=700

In [31]:
products.groupby('products_category')['product_length_cm'].median()

products_category
Children                       30.0
Fashion                        20.0
Garden and luggage             30.0
audio_video                    27.0
books                          20.0
electronics and accessories    22.0
groceries and supplies         22.0
home,office,furniture          35.0
others                         21.0
pets and security              27.0
sports                         25.0
Name: product_length_cm, dtype: float64

In [32]:
rno=products[products['product_length_cm'].isnull()].index
rno

Int64Index([8578, 18851], dtype='int64')

In [33]:
for i in rno:
    products.loc[i,'product_length_cm']=25

In [34]:
products.groupby('products_category')['product_height_cm'].median()

products_category
Children                       17.0
Fashion                        12.0
Garden and luggage             16.5
audio_video                    11.0
books                          11.0
electronics and accessories    12.0
groceries and supplies         15.0
home,office,furniture          15.0
others                         11.0
pets and security              19.0
sports                         16.0
Name: product_height_cm, dtype: float64

In [35]:
rno=products[products['product_height_cm'].isnull()].index
rno

Int64Index([8578, 18851], dtype='int64')

In [36]:
for i in rno:
    products.loc[i,'product_height_cm']=13

In [37]:
products.groupby('products_category')['product_width_cm'].median()

products_category
Children                       24.0
Fashion                        16.0
Garden and luggage             22.0
audio_video                    20.0
books                          16.0
electronics and accessories    17.0
groceries and supplies         17.0
home,office,furniture          27.0
others                         17.0
pets and security              22.0
sports                         20.0
Name: product_width_cm, dtype: float64

In [38]:
rno=products[products['product_width_cm'].isnull()].index
rno

Int64Index([8578, 18851], dtype='int64')

In [39]:
for i in rno:
    products.loc[i,'product_width_cm']=20

In [40]:
products['product_size_l*b*h_cm3']=products['product_length_cm']*products['product_width_cm']*products['product_height_cm']

In [41]:
products.head()

,product_id,products_category,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_size_l*b*h_cm3
0,1e9e8ef04dbcff4541ed26657ea517e5,Fashion,40.0,287.0,1.0,225.0,16.0,10.0,14.0,2240.0
1,3aa071139cb16b67ca9e5dea641aaa2f,others,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,10800.0
2,96bd76ec8810374ed1b65e291975717f,sports,46.0,250.0,1.0,154.0,18.0,9.0,15.0,2430.0
3,cef67bcfe19066a932b7673e239eb23d,Children,27.0,261.0,1.0,371.0,26.0,4.0,26.0,2704.0
4,9dc1a7de274444849c219cff195d0b71,"home,office,furniture",37.0,402.0,4.0,625.0,20.0,17.0,13.0,4420.0

In [42]:
products=products.drop(['product_length_cm','product_height_cm','product_width_cm'],axis=1)

In [43]:
products.head()

,product_id,products_category,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_size_l*b*h_cm3
0,1e9e8ef04dbcff4541ed26657ea517e5,Fashion,40.0,287.0,1.0,225.0,2240.0
1,3aa071139cb16b67ca9e5dea641aaa2f,others,44.0,276.0,1.0,1000.0,10800.0
2,96bd76ec8810374ed1b65e291975717f,sports,46.0,250.0,1.0,154.0,2430.0
3,cef67bcfe19066a932b7673e239eb23d,Children,27.0,261.0,1.0,371.0,2704.0
4,9dc1a7de274444849c219cff195d0b71,"home,office,furniture",37.0,402.0,4.0,625.0,4420.0

In [44]:
products.products_category.unique()

array(['Fashion', 'others', 'sports', 'Children', 'home,office,furniture',
       'audio_video', 'electronics and accessories', 'Garden and luggage',
       'books', 'pets and security', 'groceries and supplies'],
      dtype=object)

In [45]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32951 entries, 0 to 32950
Data columns (total 7 columns):
product_id                    32951 non-null object
products_category             32951 non-null object
product_name_length           32951 non-null float64
product_description_length    32951 non-null float64
product_photos_qty            32951 non-null float64
product_weight_g              32951 non-null float64
product_size_l*b*h_cm3        32951 non-null float64
dtypes: float64(5), object(2)
memory usage: 3.3+ MB

In [116]:
products.to_csv('products.csv')

In [46]:
products.columns

Index(['product_id', 'products_category', 'product_name_length',
       'product_description_length', 'product_photos_qty', 'product_weight_g',
       'product_size_l*b*h_cm3'],
      dtype='object')